#startEmoji {
  .emoji {
    font-size: 5em;
    position: absolute;
    left: 80px;
    bottom: 80px;

    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  .textBox {
    color: black;
    background-color: white;
    border-radius: 20px;
    font-size: 2em;
    position: absolute;
    bottom: 100px;
    left: 200px;
    span {
      padding: 30px;
    }
    &:before{
        border: 15px solid white;
        content: '';
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        position: absolute;
        bottom: 9px;
        left: -26px;
        transform: rotate(90deg);
        // left: calc(50% - 25px);
      }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }

}

#gameEmoji {
  .emoji {
    font-size: 5em;
    position: absolute;
    left: 80px;
    bottom: 80px;
    
    animation-name: lateralMove;
    // animation-delay: 1.5s;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
    &[data-animation='2'] {
      animation-name: rightAnimation;
      animation-duration: 1.5s;
      // animation-delay: 0s;
      animation-direction: normal;
    } 
    &[data-animation='1'] {
      animation-name: wrongAnimation;
      animation-duration: .6s;
      // animation-delay: 0s;
      animation-direction: normal;
    } 
  }
}

@keyframes lateralMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }

};

@keyframes rightAnimation {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(30px);
  }
  40% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wrongAnimation {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(15deg);
  }
  // 40% {
  //   transform: rotate(0);
  // }
  65% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}


@media (max-width: 600px) {
  #startEmoji, #gameEmoji {
    .emoji {
      font-size: 4em;
      left: 20px;
      bottom: 20px;
    }
    .textBox {
      left: 120px;
      bottom: 20px;
      right: 15px;
      &::before {
        bottom: 25px;
      }
    }
  }
}