#startEmoji {
  .emoji {
    font-size: 5em;
    position: absolute;
    left: 80px;
    bottom: 80px;

    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  .textBox {
    color: black;
    background-color: white;
    border-radius: 20px;
    font-size: 2em;
    position: absolute;
    bottom: 80px;
    left: 200px;
    span {
      padding: 30px;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }

}

#gameEmoji {
  .emoji {
    font-size: 5em;
    position: absolute;
    left: 80px;
    bottom: 80px;
  }
}