#finalModalContainer, #closeModalContainer {
  transform-origin: 50%;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 222, 179, 0.219);
  backdrop-filter: blur(10px);
  
  .finalModal, .closeModal {
    width: 70%;
    height: 70%;
    background-color: blue;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      margin: 0 30px;
      font-weight: 800;
      &+ button {
        background-color: red;
      }
    }
  }
}
