$background-color: gray;
$text-color: white;
$label-form-background-color: darkblue;
$label-form-background-color-selected: green;
$questionCard-background-color: lightblue;
$game-data-background-color: blue;
$question-background-color: blue;
$answer-background-color: white;
$answer-text-color: black;
$wrong-color: red;
$correct-color: green;
$no-wrong-color: lightgreen;
$modal-background-color: blue;
$button-color: darkgreen;
$button-no-color: red;
